__pycache__
DomainBed/domainbed/facebook.py

DomainBed/domainbed/data/*
DomainBed/train_output/*
DomainBed/pretrained_models/*
DomainBed/test.py
DomainBed/git_notes.txt
DomainBed/backup/*
DomainBed/wandb/*
DomainBed/graph_old/*
DomainBed/visualize/data
DomainBed/visualize/__pycache__
DomainBed/visualize/graph2
DomainBed/visualize/model
DomainBed/sweep/full/
visualize/
supplement.zip
draw.ipynb
